.item
  img.display-pic alt="Team Member" src="images/team/dela_rostemi.jpg"
  h3 Dela 
  h4 UI/UX Designer
  /!p 
  /! a.icon href="https://twitter.com/ericraio" target="_blank"
    i.fa.fa-twitter
  a.icon href="https://www.behance.net/Delaram" target="_blank"
    i.fa.fa-suitcase
  a.icon href="https://www.linkedin.com/in/delaramrostami" target="_blank"
    i.fa.fa-linkedin
  a.icon href="http://delaaa.com" target="_blank"
    i.fa.fa-globe