.item
  img.display-pic alt="Team Member" src="images/team/diego_monaco.jpeg"
  h3 Diego
  h4 Software Engineer
  /!p I bend computers to my will to solve real world problems.
  a.icon href="https://twitter.com/dfmonaco" target="_blank"
    i.fa.fa-twitter
  a.icon href="https://github.com/dfmonaco" target="_blank"
    i.fa.fa-github
  a.icon href="https://ar.linkedin.com/in/diegomonaco/en" target="_blank"
    i.fa.fa-linkedin
  a.icon href="http://www.dfmonaco.com" target="_blank"
    i.fa.fa-globe