/!.item
.item
  img.display-pic alt="Team Member" src="images/team/jerome_lacote.jpg"
  h3 Jerome
  h4 UI/UX Designer
  /!p A DESIGNER... and an Art Director, a Photographer, a Technologist, a Videogames Veteran, an Outdoor Enthusiast, a "carefully designed User Interface" Advocate...
  a.icon href="https://twitter.com/jaythehill" target="_blank"
    i.fa.fa-twitter
  a.icon href="https://www.facebook.com/jerome.lacote" target="_blank"
    i.fa.fa-facebook
  a.icon href="https://www.linkedin.com/in/jerome-lacote-10620711" target="_blank"
    i.fa.fa-linkedin
  a.icon href="http://www.jeromelacote.com" target="_blank"
    i.fa.fa-globe