.item
  /! img.display-pic alt="Pablo Frias" src="https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:1625269e-de9b-4be1-b9fb-b41fea042256/72ec4087-16ad-4d0d-a75c-aa82bef6fac0/128"
  img.display-pic alt="Pablo Frias" src="./images/team/pablo_frias.png"  
  h3 Pablo Frias
  h4 Software Engineer
  /!p awesome quote to impress the world.
  a.icon href="https://twitter.com/#" target="_blank"
    i.fa.fa-twitter
  a.icon href="#" target="_blank"
    i.fa.fa-suitcase
  a.icon href="https://www.linkedin.com/in/pablo-frias-55aa8010/" target="_blank"
    i.fa.fa-linkedin
