.item
  img.display-pic alt="Sofía Palamarchuk" src="./images/team/rocio_tomsic.jpeg"
  h3 Rocio Tomsic
  h4 Product Designer
  /!p
  a.icon href="http://www.rociotomsic.com/about" target="_blank"
    i.fa.fa-globe
  a.icon href="https://www.linkedin.com/in/rociotomsic/" target="_blank"
    i.fa.fa-linkedin
  a.icon href="https://www.instagram.com/rociotomsic/" target="_blank"
    i.fa.fa-instagram
