.item
  img.display-pic alt="Sebastian Pereyro" src="https://media-exp1.licdn.com/dms/image/C5603AQEYV5vgwVz_lA/profile-displayphoto-shrink_400_400/0?e=1596067200&v=beta&t=a8KhnZDX3akNm5L-VmjmrRhY6TIr6m6ecf4zXq7HN7c"
  h3 Sebastian Pereyro
  h4 Founder & CEO
  /!p Problem solver. Constantly exploring new technologies. Love outdoors and sports.
  a.icon href="https://twitter.com/spereyro" target="_blank"
    i.fa.fa-twitter
  a.icon href="https://github.com/sebapereyro" target="_blank"
    i.fa.fa-github
  a.icon href="https://www.linkedin.com/in/spereyro" target="_blank"
    i.fa.fa-linkedin
  a.icon href="https://about.me/spereyro" target="_blank"
    i.fa.fa-globe