.item
  img.display-pic alt="Sofía Palamarchuk" src="./images/team/sofi.jpeg"
  h3 Sofía Palamarchuk
  h4 Business Development & Strategy
  /!p
  a.icon href="https://twitter.com/sopalamarchuk?lang=en" target="_blank"
    i.fa.fa-twitter
  /! a.icon href="https://www.behance.net/Delaram" target="_blank"
    i.fa.fa-github
  a.icon href="https://www.linkedin.com/in/sofiapalamarchuk" target="_blank"
    i.fa.fa-linkedin
  a.icon href="https://abstracta.us/blog/author/sofia" target="_blank"
    i.fa.fa-globe
