.item
  img.display-pic alt="Spencer Hansen" src="https://media.licdn.com/dms/image/C5603AQEst6ht38OuSw/profile-displayphoto-shrink_800_800/0?e=1531353600&v=beta&t=GHrhZR_HiBttdFvcE7kBu0e__raZ71TJWJ_Wm4_hed4"
  h3 Spencer Hansen
  h4 Design and Strategy
  /!p I bend computers to my will to solve real world problems.
  a.icon href="https://twitter.com/spencer_d_h" target="_blank"
    i.fa.fa-twitter
  a.icon href="https://www.behance.net/spencerhansen" target="_blank"
    i.fa.fa-suitcase
  a.icon href="https://www.linkedin.com/in/spencerdrewhansen" target="_blank"
    i.fa.fa-linkedin