.item
  img.display-pic alt="Spencer Hansen" src="./images/team/spencer.jpeg"
  h3 UI / UX Lead
  h4 Design & Strategy
  /!p awesome quote to impress the world.
  a.icon href="https://twitter.com/#" target="_blank"
    i.fa.fa-twitter
  a.icon href="#" target="_blank"
    i.fa.fa-suitcase
  a.icon href="https://www.linkedin.com/in/ui-ux-lead" target="_blank"
    i.fa.fa-linkedin
