/! About Section
/! ==================================================
#intro
.container
  section#about.content.text-center.light
    /! Three columns of text below the carousel
    .row
      .col-lg-12.overlay-text
        h2.h3 The Process
        p Flexibles and intentional, our process elevates strategy, delivers efficiently, and minimizes risk.
    .row
      .col-sm-4.text-center.overlay-text.icons
        .icon-wrapper
          i.fa.fa-briefcase.icon-large
        h4 Product Strategy
        p Lay the foundation for your product. Establish the product definition then identify the essentials of the business strategy, design and technical needs.
        p Our adaptable approach gets at the basics first, then moves forward quickly. Discovery and strategy continues integrated into the rest of the process.
      .col-sm-4.text-center.overlay-text.icons
        .icon-wrapper
          i.fa.fa-users.icon-large
        h4 UX &amp; Interaction Design
        p Build around the user’s needs and meet your product objectives.
        p Our years of design experience allow us to employ practices from user research and testing to wireframing, information architecture and stunning visual design.
      .col-sm-4.text-center.overlay-text.icons
        .icon-wrapper
          i.fa.fa-code.icon-large
        h4 Software Development
        p Assemble a custom development team, specific to your product’s requirements.
        p Our expert, US based technical leads are your partner in the development phase. Managing the team through planned, agile sprints and maintaining an open, constant dialog as progress and opportunities develop.

  .overlay-bg.light
