/! Team
/! ==================================================
section#advisors.dark
  .page-header.text-center
    /! h3 Team
    h2 Our Advisors
  .container
    .row
      .col-md-12
        .owl-team.owl-carousel
          =partial 'sections/index/team/martin_miceli'

          =partial 'sections/index/team/niv_carmi'