/! Clients
/! ==================================================
section#clients.dark
  .page-header.text-center
    h2 Our Clients
    h3 We help them succeed
  .container
    .row
      br br
    .row
      .col-md-3
        a href="http://www.soloshot.com" target="_blank"
          img.center-block alt="Soloshot" src="images/clients/soloshot-logo.png" 
      .col-md-3
        a href="http://www.intentexpert.com" target="_blank"
          img.center-block alt="Intent Expert" src="images/clients/intentexpert-logo.jpg"
      .col-md-3
        a href="http://www.purrinc.com" target="_blank"
          img.center-block alt="Purr Inc" src="images/clients/purr-logo.jpg"    
      .col-md-3
        a href="http://www.gosteeltrader.com" target="_blank"
          img.center-block alt="Steeltrader" src="images/clients/steeltrader-logo.png"
    .row
      br br
