/! Hero Banner
/! ==================================================
#intro
  .item style="background: url('images/bg-featured1.gif')"
    .container
      .row
        .carousel-caption-center.colour-white
          h1 Let's build successful tech products.
          p With years of experience in Strategy, Design and Development, we partner with you to create successful digital products.

          /! a.btn.btn-lg.btn-primary href="https://calendly.com/sebastian-pereyro/30min" role="button"  Get Started

          a.btn.btn-lg.btn-primary href="https://goempirical.typeform.com/to/sTAks6" role="button"  Get Started
          a.btn.btn-lg.btn-secondary.scroll href="#process" role="button"  Learn more
