.item
  img.display-pic alt="Team Member" src="images/team/eric_raio.jpeg"
  h3 Eric Raio 
  h4 Software Engineer
  /!p 
  a.icon href="https://twitter.com/ericraio" target="_blank"
    i.fa.fa-twitter
  a.icon href="https://github.com/ericraio" target="_blank"
    i.fa.fa-github
  a.icon href="https://www.linkedin.com/in/ericraio" target="_blank"
    i.fa.fa-linkedin
  a.icon href="http://www.jeromelacote.com" target="_blank"
    i.fa.fa-globe