.item
  img.display-pic alt="Martin Miceli" src="./images/team/martin_miceli.jpeg"
  h3 Martin Miceli
  h4 Software Engineering
  /!p awesome quote to impress the world.
  /!a.icon href="https://twitter.com/#" target="_blank"
    i.fa.fa-twitter
  /!a.icon href="#" target="_blank"
    i.fa.fa-suitcase
  a.icon href="https://www.linkedin.com/in/martinmiceli" target="_blank"
    i.fa.fa-linkedin
