/! About Section
/! ==================================================
#intro
section#about.content.text-center.light
  .container
    /! Three columns of text below the carousel
    .row
      .col-lg-12.overlay-text
        h2 We build web and mobile products
    .row
      .col-sm-4.text-center.overlay-text.icons
        .icon-wrapper
          i.fa.fa-desktop.icon-large
        h3 Web Development
        p We bring web application ideas to life, or will fix your unfinished project.
      .col-sm-4.text-center.overlay-text.icons
        .icon-wrapper
          i.fa.fa-cloud.icon-large
        h3 Cloud &amp; Emerging Tech
        p We build &amp; deploy your cloud service or explore and implement prototypes with new and emerging technologies.
      .col-sm-4.text-center.overlay-text.icons
        .icon-wrapper
          i.fa.fa-mobile.icon-large
        h3 Mobile Development
        p Pure html5, hybrid or native mobile applications&mdash;we’ve got you covered.

  .overlay-bg.light
