section#awards
  .page-header.text-center
    h2 Awards
  .container
    .row
      .col-lg-3.col-lg-offset-2
        <div width="300px" class="LI-profile-badge" data-version="v2" data-size="medium" data-locale="en_US" data-type="simple" data-theme="dark" data-entity="profinder_bestof" data-key-vanityName="spereyro" data-key-year="2016" data-key-servicecategoryurn="urn:li:serviceCategory:1000009"><a class="LI-simple-link" href="https://www.linkedin.com/profinder/pro/spereyro?trk=profinder-badge">Sebastian Pereyro</a></div><script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
      .col-lg-3.col-lg-offset-3
        <a href="https://clutch.co/profile/empirical" target="_blank"><img src="./images/awards/Web_Developers_SanDiego_2018.png" width="200"/></a>
