/! Call to Action
/! ==================================================
section#contact.cta.text-center
  br
  br
  .container
    .row
      .col-lg-12
        h2
          | Have a great idea? 
          span.highlight Let us help!
        /!p
          button.btn.contact-button.purechat-button-expand role="button" type="button"  Contact us
    .row
      .col-lg-12
        h4
          . +1 619-630-4712
        br
        h4
         . contact@goempirical.com
        br
    br
    .row
      .col-lg-12
        /! a.btn.btn-lg.btn-primary style="margin-left: 20px" href="https://calendly.com/sebastian-pereyro/30min" target="_blank"
        a.btn.btn-lg.btn-primary style="margin-left: 20px" href="https://goempirical.typeform.com/to/sTAks6" target="_blank"
          |  Tell us about your project
