/! Featured Sections
/! ==================================================
section#featured1.dark.with-bg
  .container
    .row
      .col-sm-5.overlay-text
        .vertical-align
          h2 We are devoted to our craft
          p We are a digital product development company with years of experience building applications that are being used by millions of users daily.
  .overlay-bg.black
section#featured2.featured
  .container
    .row
      .col-sm-4.col-sm-offset-2.text-center
        .vertical-align
          img.margin-top.img-responsive.img-circle alt="Generic placeholder image" data-sr="enter left, hustle 20px" src="images/move_fast_icon.jpg" width="250"
      .col-sm-6
        .vertical-align
          <br/>
          h3 The Priorities
          h4 Continual discovery, constant prioritization
          p We are constantly checking progress against your goals and objectives as well as your user’s needs. This means the outcome is always on track, eliminating the chance of rolling out a product that misses the mark.
          h4 Value delivered quickly and consistently
          p Every stage, sprint and task has the goal of expediting value. This let’s us find answers to the largest unknowns first, avoiding iterating into a dead end.
          h4 Custom Built development teams
          p Pulling from the best onshore and nearshore talent, we build a development team matched to you product’s needs—not the other way around.
          h4 Trusted partners
          p Building trust is a top priority. You get access to our top level product experts in all the important areas: including, but not limited to development.