/! Clients
/! ==================================================
section#partners.dark
  .page-header.text-center
    h2 Our Partners
    h3 Amazing teams we are prod to work with
  .container
    .row
      .col-md-4
        a href="http://www.seed.run" target="_blank" 
          img.center-block alt="Seed" src="images/partners/seed.png" style="width:150px; padding-top:20px"
      .col-md-4
        a href="http://www.tokbox.com" target="_blank"
          img.center-block alt="Tok Box" src="https://static.opentok.com/img/homepage/t-b-logo.svg" style="padding-top:20px"
      .col-md-4
        a href="https://www.wowza.com/" target="_blank"
          img.center-block alt="AWS" src="https://www.wowza.com/images/wowza2015/wowza-logo@2x.png" style="width:150px; padding-top:20px" 
