/! Portfolio
/! ==================================================
section#projects.section-content.section-isotope.separator
  .page-header.text-center
    h3 Products
    h2 We Have Worked On
  .container
    #filters.button-group.text-center
      <!--
      button.active data-filter-value="*"  show all
      button data-filter-value=".websites"  web
      button data-filter-value=".icons"  icons
      button data-filter-value=".print"  print
      button data-filter-value=".mobile"  mobile -->
    .row
      #portfolio.js-isotope.grid.cs-style-1

        .col-sm-6.col-md-4.portfolio-item.mobile
          figure
            /! Thumb Info
            .info
              h3 Moment
              span Android Mobile Development
            /! Thumbnail
            img alt="Moment Androdi App" src="images/projects/moment.jpg"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/moment.png" title="Preview"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="https://www.shopmoment.com/moment-pro-camera-app" target="_blank" title="Open Website"
                i.fa.fa-external-link

        .col-sm-6.col-md-4.portfolio-item.mobile
          figure
            /! Thumb Info
            .info
              h3 Plugin
              span iOS / Android -  UX/UI Design
            /! Thumbnail
            img alt="Plugin" src="images/projects/plugin.png"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/plugin.png" title="Preview"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://www.plugin804.com" target="_blank" title="Open Website"
                i.fa.fa-external-link

        .col-sm-6.col-md-4.portfolio-item.mobile
          figure
            /! Thumb Info
            .info
              h3 Robolink
              span Web - Mobile -  UX/UI Design
            /! Thumbnail
            img alt="Dogs On The Run" src="images/projects/robolink_app.png"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/robolink_app.png" title="Preview"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://www.robolink.com" target="_blank" title="Open Website"
                i.fa.fa-external-link

        .col-sm-6.col-md-4.portfolio-item.mobile
          figure
            /! Thumb Info
            .info
              h3 Dogs On The Run
              span Web -  UX/UI Design
            /! Thumbnail
            img alt="Dogs On The Run" src="images/projects/dotr_app.jpg"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/dotr_app.jpg" title="Preview"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://www.dogsontherun.com" target="_blank" title="Open Website"
                i.fa.fa-external-link

        .col-sm-6.col-md-4.portfolio-item.mobile
          figure
            /! Thumb Info
            .info
              h3 Livepin
              span Web - Mobile -  UX/UI Design
            /! Thumbnail
            img alt="Livepin" src="images/projects/livepin_app.jpg"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/livepin_app.jpg" title="Livepin"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://www.livepin.tv" target="_blank" title="Open Website"
                i.fa.fa-external-link

        .col-sm-6.col-md-4.portfolio-item.mobile
          figure
            /! Thumb Info
            .info
              h3 SOLOSHOT
              span API - Web -  Live Streaming
            /! Thumbnail
            img alt="Livepin" src="images/projects/soloshot_app.png"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/soloshot_app.png" title="Soloshot"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://www.soloshot.com" target="_blank" title="Open Website"
                i.fa.fa-external-link

        .col-sm-6.col-md-4.portfolio-item.mobile
          figure
            /! Thumb Info
            .info
              h3 Clevos
              span Web App - E-Commerce
            /! Thumbnail
            img alt="Livepin" src="images/projects/clevos_app.png"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/clevos_app.png" title="Soloshot"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://www.clevos.com" target="_blank" title="Open Website"
                i.fa.fa-external-link

        /.col-sm-6.col-md-4.portfolio-item.mobile
          figure
            /! Thumb Info
            .info
              h3 Purr
              span Mobile App
            /! Thumbnail
            img alt="Livepin" src="images/projects/skinclinical_app.png"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/skinclinical_app.png" title="Soloshot"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://www.skinclinical.com" target="_blank" title="Open Website"
                i.fa.fa-external-link

        .col-sm-6.col-md-4.portfolio-item.mobile
          figure
            /! Thumb Info
            .info
              h3 Purr
              span Web App
            /! Thumbnail
            img alt="Livepin" src="images/projects/purr_app.png"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/purr_app.png" title="Soloshot"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://www.purrinc.com" target="_blank" title="Open Website"
                i.fa.fa-external-link

        .col-sm-6.col-md-4.portfolio-item.mobile
          figure
            /! Thumb Info
            .info
              h3 WhiteNoise
              span Mobile -  UX/UI Design
            /! Thumbnail
            img alt="Whitenoise UI" src="images/projects/whitenoise/whitenoise_ui_1.png"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/whitenoise/whitenoise_ui_2.png" title="Preview"
                i.fa.fa-plus
              /!a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://www.southdoctors.com" target="_blank" title="Open Website"
                i.fa.fa-external-link

        .col-sm-6.col-md-4.portfolio-item.websites
          figure
            /! Thumb Info
            .info
              h3 Route It
              span Web -  Java / Routing API
            /! Thumbnail
            img alt="SouthDoctors screenshot" src="images/projects/route_it.png"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/route_it.png" title="Preview"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://routeit.goempirical.com" target="_blank" title="Open Website"
                i.fa.fa-external-link

        .col-sm-6.col-md-4.portfolio-item.websites
          figure
            /! Thumb Info
            .info
              h3 SouthDoctors
              span Web -  Ruby on Rails
            /! Thumbnail
            img alt="SouthDoctors screenshot" src="images/projects/southdoctors/southdoctors_app.png"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/southdoctors/southdoctors_app.png" title="Preview"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://www.southdoctors.com" target="_blank" title="Open Website"
                i.fa.fa-external-link
        .col-sm-6.col-md-4.portfolio-item.websites
          figure
            /! Thumb Info
            .info
              h3 Obras.io
              span Web - Ruby on Rails
            /! Thumbnail
            img alt="Obras.io screenshot" src="images/projects/obras_io_app.png"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/obras_io_app.png" title="Preview"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://www.obras.io" target="_blank" title="Open Website"
                i.fa.fa-external-link
        .col-sm-6.col-md-4.portfolio-item.websites
          figure
            /! Thumb Info
            .info
              h3 Feedmob
              span Web - Ruby on Rails
            /! Thumbnail
            img alt="Feedmob App" src="images/projects/feedmob_app.png"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/feedmob_app.png" title="Preview"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="#" title="Open Website"
                i.fa.fa-external-link
        .col-sm-6.col-md-4.portfolio-item.websites
          figure
            /! Thumb Info
            .info
              h3 Swingby
              span Web - HTML / Javascript / Java
            /! Thumbnail
            img alt="Swingby screenshot" src="images/projects/swingby_app.png"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/swingby_app.png" title="Preview"
                i.fa.fa-plus
              /!a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://www.obras.io" target="_blank" title="Open Website"
                i.fa.fa-external-link
        .col-sm-6.col-md-4.portfolio-item.websites
          figure
            /! Thumb Info
            .info
              h3 OnQuality
              span Web - Java
            /! Thumbnail
            img alt="OnQuality screenshot" src="images/projects/qic/onquality_map.png"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/qic/onquality_map.png" title="Preview"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://qic.onquality.info" target="_blank" title="Open Website"
                i.fa.fa-external-link
        .col-sm-6.col-md-4.portfolio-item.websites
          figure
            /! Thumb Info
            .info
              h3 Yolia Health
              span Web - UI/UX
            /! Thumbnail
            img alt="Yolia screenshot" src="images/projects/yolia.png"
            /! Thumb links
            figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/yolia.png" title="Preview"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://www.yolia.com" target="_blank" title="Open Website"
                i.fa.fa-external-link
        .col-sm-6.col-md-4.portfolio-item.websites
          figure
            /! Thumb Info
            .info
              h3 Your Project Here
              span View more
            /! Thumbnail
            img alt="Yolia screenshot" src="images/projects/more_projects.jpg"
            /! Thumb links
            /!figcaption
              a.preview.tooltips.popup-gallery data-placement="bottom" data-toggle="tooltip" href="images/projects/yolia.png" title="Preview"
                i.fa.fa-plus
              a.link.tooltips data-placement="bottom" data-toggle="tooltip" href="http://www.yolia.com" target="_blank" title="Open Website"
                i.fa.fa-external-link
