section#testimonials.dark
  .page-header.text-center
    h3 Hire us on linkedinedin
    h2 Our Clients Love Us
  .container
    .row
      .col-lg-12
		<div class="LI-profile-badge" data-version="v2" data-size="medium" data-locale="en_US" data-type="simple" data-theme="dark" data-entity="profinder_bestof" data-key-vanityName="spereyro" data-key-year="2016" data-key-servicecategoryurn="urn:li:serviceCategory:1000009"><a class="LI-simple-link" href="https://www.linkedin.com/profinder/pro/spereyro?trk=profinder-badge">Sebastian Pereyro</a></div><script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
