/! Bootstrap core JavaScript
/! ==================================================
script src="javascripts/jquery-1.10.2.min.js"
script src="javascripts/bootstrap.min.js"
script src="javascripts/classie.js"
script src="javascripts/cbpAnimatedHeader.min.js"
script src="javascripts/owl.carousel.min.js"
script src="javascripts/scrollReveal.js"
script defer="defer" src="javascripts/jquery.scrollTo.js"
script defer="defer" src="javascripts/jquery.nav.js"
script defer="defer" src="javascripts/imagesloaded.pkgd.min.js"
script defer="defer" src="javascripts/isotope.min.js"
script defer="defer" src="javascripts/jquery.magnific-popup.min.js"
script defer="defer" src="javascripts/jqBootstrapValidation.js"
script src="javascripts/custom.js"
javascript:
  $(document).ready(function(){
    isotope();
  });

javascript:
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-71943565-1', 'auto');
  ga('send', 'pageview');

/! Get Site Control
/! javascript:
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g); t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);})(window, document, '_gscq','script','//widgets.getsitecontrol.com/37113/script.js');

javascript:
  function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0]; d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.insertBefore(d,q)}(window,document,'script','_gs');
  _gs('GSN-997383-A');

<!-- begin olark code -->
javascript:
  (function(o,l,a,r,k,y){if(o.olark)return;
  r="script";y=l.createElement(r);r=l.getElementsByTagName(r)[0];
  y.async=1;y.src="//"+a;r.parentNode.insertBefore(y,r);
  y=o.olark=function(){k.s.push(arguments);k.t.push(+new Date)};
  y.extend=function(i,j){y("extend",i,j)};
  y.identify=function(i){y("identify",k.i=i)};
  y.configure=function(i,j){y("configure",i,j);k.c[i]=j};
  k=y._={s:[],t:[+new Date],c:{},l:a};
  })(window,document,"static.olark.com/jsclient/loader.js");
  /* Add configuration calls below this comment */
  olark.identify('4693-723-10-5974');
<!-- end olark code -->
