/! Bootstrap core JavaScript
/! ==================================================
script src="javascripts/jquery-1.10.2.min.js"
script src="javascripts/bootstrap.min.js"
script src="javascripts/classie.js"
script src="javascripts/cbpAnimatedHeader.min.js"
script src="javascripts/owl.carousel.min.js"
script src="javascripts/scrollReveal.js"
script defer="defer" src="javascripts/jquery.scrollTo.js"
script defer="defer" src="javascripts/jquery.nav.js"
script defer="defer" src="javascripts/imagesloaded.pkgd.min.js"
script defer="defer" src="javascripts/isotope.min.js"
script defer="defer" src="javascripts/jquery.magnific-popup.min.js"
script defer="defer" src="javascripts/jqBootstrapValidation.js"
script src="javascripts/custom.js"
script src="javascripts/modernizr.custom.js"
script src="https://static1.clutch.co/api/widget.js" type="text/javascript"
<!-- Unbounce popup-->
script async="" src="https://2c16d0bb8b76453c80f4a7072f231e9a.js.ubembed.com" 

javascript:
  $(document).ready(function(){
    isotope();
  });

/! Global site tag (gtag.js) - Google Analytics
script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-148495639-2"
javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-148495639-2');

<!--Start of Tawk.to Script-->
javascript:
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5a8a66f7d7591465c707c850/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
<!--End of Tawk.to Script-->
