/! Testimonials
/! ==================================================
section#testimonials.dark
  .page-header.text-center
    h3 Testimonials
    h2 From our Clients
  .container
    .row
      .col-md-offset-2.col-md-8
        #quote-carousel.carousel.slide data-ride="carousel"
          /! Bottom Carousel Indicators
          ol.carousel-indicators
            li.active data-slide-to="0" data-target="#quote-carousel"
            li data-slide-to="1" data-target="#quote-carousel"
            li data-slide-to="2" data-target="#quote-carousel"
            li data-slide-to="3" data-target="#quote-carousel"
            li data-slide-to="4" data-target="#quote-carousel"
          /! Carousel Slides / Quotes
          .carousel-inner

            /! Quote 1
            .item.active
              blockquote
                .row
                  .col-sm-3.text-center
                    img.img-circle src="images/testimonials/andrea_goulet.jpg"
                  .col-sm-9
                    p "Empirical team produced clean, tested code and were and absolute pleasure to work with! They are one of my go-to referrals for early stage companies that want to build the first version of an app."
                    small
                      | Corgibytes - 
                      a href="https://www.linkedin.com/in/andreamgoulet" target="_blank"  Andrea Goulet

            /! Quote 2
            .item.
              blockquote
                .row
                  .col-sm-3.text-center
                    img.img-circle src="images/testimonials/matthew_profile.jpg"
                  .col-sm-9
                    p "Working with Empirical has been a pleasure. They were professional and dedicated throughout the process."
                    small
                      | Clevos - 
                      a href="https://www.linkedin.com/in/matthewsargeant" target="_blank"  Matthew Sargeant
            
            /! Quote 0
            .item
              blockquote
                .row
                  .col-sm-3.text-center
                    img.img-circle src="https://media.licdn.com/dms/image/C4E03AQGSijeUgpnhNw/profile-displayphoto-shrink_800_800/0?e=1531353600&v=beta&t=M-5hxIgu7D23Pb5Ezgf_qw9Pm3Jx6lv2DwHmOzEnv9s"
                  .col-sm-9
                    p "I started working with Empirical about 6 months ago to develop an online reservation system for my business and I couldn't be happier with the work the team provided."
                    small
                      | Purr -
                      a href="https://www.linkedin.com/in/robert-prouty-631a3394" target="_blank"  Robert Prouty
            /! Quote 1
            .item
              blockquote
                .row
                  .col-sm-3.text-center
                    img.img-circle src="images/testimonials/wes_profile.jpg"
                  .col-sm-9
                    p "You guys are rockstars. We couldn't have done it without your support."
                    small
                      | Swingby -
                      a href="https://twitter.com/wesleysoo" target="_blank"  @wesleysoo
            /! Quote 2
            .item
              blockquote
                .row
                  .col-sm-3.text-center
                    img.img-circle src="images/testimonials/mario_mireles.jpg"
                  .col-sm-9
                    p "Strong team. Solid Results! This team has been essential to the success of SouthDoctors."
                    small
                      | South Doctors -
                      a href="https://twitter.com/mmirelesv" target="_blank"  Mario Mireles
          
          /! Carousel Buttons Next/Prev
          br
          a.left.carousel-control.visible-md.visible-lg data-slide="prev" href="#quote-carousel"
            i.fa.fa-chevron-left
          a.right.carousel-control.visible-md.visible-lg data-slide="next" href="#quote-carousel"
            i.fa.fa-chevron-right