/! Footer
/! ==================================================
footer#contact.footer
  .container
    .row
      .col-lg-12
        .col-sm-4.col-md-4.text-center
          .footer-logo
            h3 Empirical Inc.
            p
              | San Diego, CA
              br>/
              | contact@goempirical.com
              br>/
              | +1 (619) 630-4712
            /! a href="#"  Terms of Service
            /! a href="#"  Privacy
        /!.col-sm-4.col-md-4
          h3 Product
          ul.list-unstyled
            li
              a href="#"  Product for iOS
            li
              a href="#"  Product for Android
            li
              a href="#"  Product for Windows
        .col-sm-4.col-md-4.text-center
          h3 Company
          ul.list-unstyled
            li
              a href="#about"  About Us
            li
              a href="#projects"  Projects
            li
              a href="#team"  Our Team
            /! li
              a href="#"
                | Jobs&emsp;
                span.label.label-info Were hiring!
        .col-sm-4.col-md-4.text-center
          h3 Our Blog
          ul.list-unstyled
            li
              a href="https://medium.com/go-empirical" target="_blank"  Follow our Blog
            /!li
              a href="#"  Developer API
            /! li
              a href="#"  Product Markdown
            br/
            p.muted © 2016 Empirical Inc.
    .row
      .col-lg-12.text-center
        a.icon href="https://twitter.com/goempirical" target="_blank"
          i.fa.fa-twitter
        a.icon href="https://www.facebook.com/goempirical" target="_blank"
          i.fa.fa-facebook
        a.icon href="https://medium.com/go-empirical" target="_blank"
          i.fa.fa-globe