/! Team
/! ==================================================
section#team.dark
  .page-header.text-center
    h3 Team
    h2 We make it happen
  .container
    .row
      .col-md-12
        .owl-team.owl-carousel
          .item
            img.display-pic alt="Team Member" src="images/team/sebastian_pereyro.jpg"
            h3 Sebastian Pereyro
            h4 Software Engineer
            /!p Problem solver. Constantly exploring new technologies. Love outdoors and sports.
            a.icon href="https://twitter.com/spereyro" target="_blank"
              i.fa.fa-twitter
            a.icon href="https://github.com/sebap" target="_blank"
              i.fa.fa-github
            a.icon href="https://www.linkedin.com/in/spereyro" target="_blank"
              i.fa.fa-linkedin
            a.icon href="https://about.me/spereyro" target="_blank"
              i.fa.fa-dribbble
          .item
            img.display-pic alt="Team Member" src="images/team/jerome_lacote.jpg"
            h3 Jerome Lacote
            h4 UX/UI Designer
            /!p A DESIGNER... and an Art Director, a Photographer, a Technologist, a Videogames Veteran, an Outdoor Enthusiast, a "carefully designed User Interface" Advocate...
            a.icon href="https://twitter.com/jaythehill" target="_blank"
              i.fa.fa-twitter
            a.icon href="https://www.facebook.com/jerome.lacote" target="_blank"
              i.fa.fa-facebook
            a.icon href="https://www.linkedin.com/in/jerome-lacote-10620711" target="_blank"
              i.fa.fa-linkedin
            a.icon href="http://www.jeromelacote.com" target="_blank"
              i.fa.fa-dribbble
          .item
            img.display-pic alt="Team Member" src="images/team/diego_monaco.jpeg"
            h3 Diego Monaco
            h4 Software Engineer
            /!p I bend computers to my will to solve real world problems.
            a.icon href="https://twitter.com/dfmonaco" target="_blank"
              i.fa.fa-twitter
            a.icon href="https://github.com/dfmonaco" target="_blank"
              i.fa.fa-github
            a.icon href="https://ar.linkedin.com/in/diegomonaco/en" target="_blank"
              i.fa.fa-linkedin
            a.icon href="http://www.dfmonaco.com" target="_blank"
              i.fa.fa-dribbble
    .row
      .col-md-12
        .owl-team.owl-carousel
          .item
            img.display-pic alt="Team Member" src="images/team/gabriela_marinozzi.jpg"
            h3 Gabriela Marinozzi
            h4 Front-end Developer / Designer
            /!p Detail oriented. Organized. Pixel perfect designs.
            /!a.icon href="https://twitter.com/dfmonaco" target="_blank"
              i.fa.fa-twitter
            a.icon href="https://github.com/gmarinozzi" target="_blank"
              i.fa.fa-github
            a.icon href="https://www.linkedin.com/in/gmarinozzi" target="_blank"
              i.fa.fa-linkedin
            /!a.icon href="http://www.dfmonaco.com" target="_blank"
              i.fa.fa-dribbble        
