---
title: empirical
---

doctype html

/![if IE 8] <html class="no-js lt-ie9 ie8" lang="en"
/![if IE 9] <html class="ie9" lang="en"
/![if IE 10] <html class="ie10" lang="en"
/![if (gt IE 10)|!(IE)] <html lang="en"

head
  javascript:
    var host = "goempirical.com";
    var host2 = "www.goempirical.com";
    if (((host == window.location.host) || (host2 == window.location.host))  && (window.location.protocol != "https:"))
      window.location = "https://www.goempirical.com";
  meta charset="utf-8"
  meta content="IE=edge" http-equiv="X-UA-Compatible"
  meta content="width=device-width, initial-scale=1.0" name="viewport"
  meta content="" name="description"
  meta content="" name="author"
  link href="images/favicon.ico" rel="shortcut icon"

  title Empirical

  link href="stylesheets/bootstrap.css" rel="stylesheet"
  /! Bootstrap core CSS
  link href="stylesheets/theme.css" rel="stylesheet"

  /! Custom styles for this template
  link href="stylesheets/magnific-popup.css" rel="stylesheet"

  /! Font Awesome
  link href="stylesheets/font-awesome.min.css" rel="stylesheet"
  link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"
  link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css"

  /! HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  /![if lt IE 9]
    | <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script
    | <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script

body
  .preloader
    .spinner
      .bounce1
      .bounce2
      .bounce3

  =partial 'sections/index/navbar'

  =partial 'sections/index/hero'

  =partial 'sections/index/process'

  /! =partial 'sections/index/team'

  /! =partial 'sections/index/advisors'

  =partial 'sections/index/priorities'

  =partial 'sections/index/testimonials'

  =partial 'sections/index/portfolio'

  /! =partial 'sections/index/clients'

  /! =partial 'sections/index/awards'

  =partial 'sections/index/partners'

  =partial 'sections/index/contact'

  =partial 'sections/index/footer'

  =partial 'sections/index/scripts'
